:root {
--rosewater:	#f4dbd6;
--flamingo:	#f0c6c6;
--pink:	#f5bde6;
--mauve:	#c6a0f6;
--red: #ed8796;
--maroon:	#ee99a0;
--peach:	#f5a97f;
--yellow:	#eed49f;
--green:	#a6da95;
--teal:	#8bd5ca;
--sky:	#91d7e3;
--sapphire:	#7dc4e4;
--blue:	#8aadf4;
--lavender:	#b7bdf8;
--text:	#cad3f5;
--subtext1:	#b8c0e0;
--subtext0:	#a5adcb;
--overlay2:	#939ab7;
--overlay1:	#8087a2;
--overlay0:	#6e738d;
--surface2:	#5b6078;
--surface1:	#494d64;
--surface0:	#363a4f;
--base: #24273a;
--mantle: #1e2030;
--crust: #181926;
}

body {
  background-color: var(--base);
  color: var(--text);
}

.title-wrapper h1 {
  margin-bottom: 0.2rem;
}

.title-wrapper span {
  color: var(--subtext1);
}

.title-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.add-button {
  background-color: var(--sapphire);
  color: var(--surface0);
  border: 2px solid transparent;
  padding: 0.5rem;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-button:active {
  border: 2px solid var(--text);
}

input {
  background-color: var(--surface0);
  color: var(--text);
  
  border: 2px solid transparent;
  padding: 0.5rem;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

input::placeholder {
  color: var(--overlay1);
  opacity: 1;
}

.button-container {
  display: flex;
  justify-content: center;

  margin: 1rem;
}

.button-container button {
  border: 2px solid transparent;
  border-radius: 20px;
  margin-left: 0.5rem;
  padding-block: 0.1rem;
  align-items: center;
  justify-items: center;
}

.button-container button svg * {
  fill: var(--surface0);
}

.button-container button:active {
  border: 2px solid var(--text);
}

.random-button {
  background-color: var(--lavender);
}

.copy-button {
  background-color: var(--yellow);
}

.clear-button {
  background-color: var(--red);
}


.item-remove-button {
  opacity: 0;
  background-color: var(--red);
  color: var(--surface0);
  border: 2px solid transparent;
  border-radius: 10px;
  padding-inline: 0.4rem;
  align-content: center;
}

ol {
  min-width: 20rem;
  margin: auto;
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
  border: 2px solid var(--overlay1);
  border-radius: 16px;
}

ol:empty {
  border: none;
}

li {
  display: flex;

  justify-content: space-between;

  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 2px solid var(--overlay1);
}

li span {
  margin-inline: 0.5rem;
}

li:hover .item-remove-button, li:focus-within .item-remove-button {
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  opacity: 1;
}

li:before {
  content: counter(item) "  ";
  counter-increment: item;
}

li:last-child {
  border: none;
}
