body {
  background-color: #2e3440;
  color: #eceff4;
}

.title-wrapper h1 {
  margin-bottom: 0.2rem;
}

.title-wrapper span {
  color: #d8dee9;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.add-button {
  background-color: #d08770;
  color: #eceff4;
  border: 2px solid transparent;
  padding: 0.5rem;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-button:active {
  border: 2px solid #bf616a;
}

input {
  border: 2px solid transparent;
  padding: 0.5rem;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;

  margin: 1rem;
}

.button-container button {
  background-color: #B48EAD;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-left: 0.5rem;
  padding-block: 0.1rem;
  align-items: center;
  justify-items: center;
}

.button-container button svg * {
  fill: #E5E9F0;
}

.button-container button:active {
  border: 2px solid #D8DEE9;
}


.item-remove-button {
  opacity: 0;
  background-color: #BF616A;
  color: #D8DEE9;
  border: 2px solid transparent;
  border-radius: 20px;
  padding-inline: 0.4rem;
}

ol {
  min-width: 20rem;
  margin: auto;
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
  border: 2px solid #d8dee9;
  border-radius: 16px;
}

ol:empty {
  border: none;
}

li {
  display: flex;

  justify-content: space-between;

  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 2px solid #d8dee9;
}

li span {
  margin-inline: 0.5rem;
}

li:hover .item-remove-button {
  opacity: 1;
}

li:before {
  content: counter(item) "  ";
  counter-increment: item;
}

li:last-child {
  border: none;
}
